<form action="/create" method="POST">
  <h2>Creating file page</h2>

  <div class="input-field">
    <input type="text" name="parent" placeholder="Parent Catalog Name" />
  </div>

  <div class="input-field">
    <input type="text" name="title" placeholder="File Name" />
  </div>

  <div class="input-field">
    <input type="number" name="size" placeholder="Size" />
  </div>

  <div class="input-field">
    <input type="date" name="date" placeholder="Creation Date" />
  </div>

  <button type="submit" class="btn">Create File</button>

</form>