<form action="/edit" method="POST">
  <h2>Editing file page</h2>

  <div class="input-field">
    <input type="text" name="id" placeholder="Editing File ID" />
  </div>

  <div class="input-field">
    <input type="text" name="parent" placeholder="New Parent Catalog Name" />
  </div>

  <div class="input-field">
    <input type="text" name="title" placeholder="New File Name" />
  </div>

  <div class="input-field">
    <input type="number" name="size" placeholder="New Size" />
  </div>

  <div class="input-field">
    <input type="date" name="date" placeholder="New Creation Date" />
  </div>

  <button type="submit" class="btn">Edit File</button>

</form>